@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    color: #4a4f4d;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6 {
    color: #00263a; 
}
p {
    color: #777;
}
a {
    color: #0077b3;
    text-decoration: none;
}
ol, ul {
    list-style-type: none;
    padding-left: 0;
}
.sec-bg-primary {
    background-color: #18827e;
}
.section-padding {
    padding: 50px 0px;
}
.heading-text {
    font-size: 19.2px;
}
.button-primary {
    background-color: #18827e;
    border-color: #18827e #18827e #18827e;
    color: #fff;
    padding: 0.7rem 1.5rem;
    font-weight: 600;
    font-size: 12px;
}
.button-primary:hover {
    background-color: #383f48;
    border-color: #383f48 #383f48 #22262b;
    color: #fff;
}


/* Feature Video */
.feature-video {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #00204a;
}
#myVideo {
    width: 100%;
    height: 100%;
}

/* Home Section */
.home-intro {
    padding: 2.4rem 0;
}
.home-intro p {
    color: #f3fffd;
    padding-top: 5px;
    opacity: 0.7;
    font-size: 16px;
}

/* Service */
.heading-text {
    font-weight: 300;
    letter-spacing: -.05em;
}
.services .service-box {
    display: flex;
    justify-content: space-between;
}
.services .service-img {
    width: 50px;
    height: 50px;
}
.services .service-info article {
    color: #777;
    text-align: justify;
}

/* About */
.about {
    background-color: #f7f7f7;
}

/* Message */
.message p {
    text-align: justify;
}

/* Custom Owl Carousel who are we section */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    font-size: 30px;
}

/* Our Reach */
.branch {
    background-color:#f7f7f7;;
}
/* Our Brand */
@media(min-width: 1200px) {
    .brand-img {
        height: 300px;
    }
}

/* Awards Section */
.awards {
    background-color: #f7f7f7;
}
.award-no {
    color: #18827e;
    font-size: 35px;
    line-height: 35px;
    display: block;
}
/* Boss Section */
.boss {
    background-color: #212529;
    border-color: #16181b;
}
/* Permonance Section */
.performance {
    background-color: #18827e;
}
.performance .counter svg {
    font-size: 22px;
}

/* Wall */
.wall .item a::before {
    content: '';
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}
.wall .item a:hover::before {
    visibility: visible;
}

/* Start Sister Concern */
.sister-concern {
    background-color: #f7f7f7;
}
.company img {
    transition: all 0.2s ease-in-out;
}
.company img:hover {
    transform: scale(1.2);
}
/* Office */
.feature-box {
    display: flex;
}
.feature-box .feature-box-icon {
    border: 1px solid #cecece;
    border-radius: 100%;
    background: transparent;
    height: 43px;
    width: 43px;
    padding: 12.8px;
    font-size: 16px;
    box-shadow: 0 0 5px 0px rgb(2 2 2 / 20%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}
.feature-box-icon svg {
    color: #a9a9a9;
}
.feature-box .feature-box-info {
    flex: 1 1 100%;
    padding-left: 15px;
}
.feature-box h4 {
    color: #212529;
}

/* Footer Start */
.footer {
    background: #212529;
    border-top: 4px solid #212529;
    font-size: 14px;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #FFF;
}

.footer-top .menu-heading {
    letter-spacing: -.05em;
    font-size: 13.5px;
    font-weight: 700;
}